<section>
  <img class="logo" src="../../../assets/icons/logo-100.png" alt="Wishlists">

  <ul>
    <a href="">
      <li><img class="icon" src="../../../assets/icons/home.png" alt=""> <span>Home Page</span></li>
    </a>
    <a href="">
      <li><img class="icon" src="../../../assets/icons/wish.png" alt=""> <span>Wishlist</span></li>
    </a>
    <a href="">
      <li><img class="icon" src="../../../assets/icons/group.png" alt=""> <span>Groups</span></li>
    </a>
    <a href="">
      <li><img class="icon" src="../../../assets/icons/friends.png" alt=""> <span>Friends</span></li>
    </a>
  </ul>

  <hr />

  <ul>
    <a href="">
      <li><img class="icon" src="../../../assets/icons/wish-plus.png" alt=""><span> New Wish</span></li>
    </a>
    <a href="">
      <li><img class="icon" src="../../../assets/icons/group-plus.png" alt=""> <span>New Group</span></li>
    </a>
    <a href="">
      <li><img class="icon" src="../../../assets/icons/friends-plus.png" alt=""> <span>New Friend</span></li>
    </a>
  </ul>

  <hr />

  <a href="">
    <p><img class="icon" src="../../../assets/icons/about.png" alt=""> <span>About Us</span></p>
  </a>
</section>
