/*Colors*/
$color-ultra-violet: #5F4B8B;
$color-sparkling-grape: #773376;
$color-mulberry: #A76C97;
$color-jacaranda: #848DC5;
$color-rapsody: #9F86AA;
$color-red-violet: #A35776;
$color-chateau-rose: #D2738F;
$color-prism-pink: #F0A1BF;
$color-gray: #CCCCCC;

i {
  color: $color-ultra-violet;
}

/*Reset*/
html,
body {
  height: 100%;
  width: 100%;
}

*,
html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
  margin: 0;
}
