/*Colors*/
$color-ultra-violet: #5F4B8B;
$color-sparkling-grape: #773376;
$color-mulberry: #A76C97;
$color-jacaranda: #848DC5;
$color-rapsody: #9F86AA;
$color-red-violet: #A35776;
$color-chateau-rose: #D2738F;
$color-prism-pink: #F0A1BF;
$color-gray: #CCCCCC;