section {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: "side  top     top"
                       "side  content right";
  overflow: hidden;

  app-side-menu,
  app-top-menu {

    top: 0;
  }

  app-side-menu {
    grid-area: side;
  }

  app-top-menu {
    grid-area: top;
  }

  app-right-menu {
    grid-area: right;
  }

  .content {
    grid-area: content;
  }
}
